<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- Query Loggers -->
		<Logger name="org.springframework.jdbc.core" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="org.springframework.web" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="com.mchange.v2.c3p0" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="oracle.jdbc.driver" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>